# An introduction to Python

## My Mantra of how to learn a new programming language

- Learn Data Types
- Learn Control Structures
- Practice

## Printing values

The first bit of python syntax we're going to learn is the <tt>print</tt> statement. This command lets us print messages to the user, and also to see what Python thinks is the value of some expression (very useful when debugging your programs).

We will go into details later on, but for now just note that to print some text you have to enclose it in  "quotation marks". 

We will go into detail on the arithmetic operations supported in python shortly, but you can try exploring python's calculating abilities.

In [4]:
import sys
print(sys.version)

3.6.3 |Anaconda custom (64-bit)| (default, Oct  6 2017, 12:04:38)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

In [5]:
print("Hello from python!")

Hello from python!

In [1]:
32

32

5

You can print  multiple expressions you need to seperate them with commas. Python will insert a space between each element, and a newline at the end of the message (though you can suppress this behaviour by leaving a trailing comma at the end of the command).

The answer: 42

## Using variables

In the <tt>print</tt> commands above we have directly operated on values such as text strings and numbers. When programming we will typically want to deal with rather more complex expressions where it is useful to be able to assign a name to an expression, especially if we are trying to deal with multiple values at the same time.

We can give a name to a value using _variables_, the name is apt because the values stored in a variable can _vary_. Unlike some other languages, the type of value assigned to a variable can also change (this is one of the reasons why python is known as a _dynamic_ language).

A variable can be assigned to a simple value...

3

... or the outcome of a more complex expression.

4

A variable can be called whatever you like (as long as it starts with a character, it does not contain space and is meaningful) and you assign a value to a variable with the **`=` operator**. Note that this is different to mathematical equality (which we will come to later...)

You can <tt>print</tt> a variable to see what python thinks its current value is.

Iron man is his name

In the interactive interpreter you don't have to <tt>print</tt> everything, if you type a variable name (or just a value), the interpreter will automatically print out what python thinks the value is. Note though that this is not the case if your code is in a file.

7

15

Variables can be used on the right hand side of an assignment as well, in which case they will be evaluated before the value is assigned to the variable on the left hand side.

15

or just `y` in the interpreter and in Jupyter notebook

15

You can use the current value of a variable itself in an assignment

16

In fact this is such a common idiom that there are special operators that will do this implicitly (more on these later)

17

## Simple data types

Python (and computers in general) treats different types of data differently. Python has 5 main basic data types. Types are useful to constrain some operations to a certain category of variables. For example it doesn't really make sense to try to divide a string.

We will see some examples of these in use shortly, but for now let's see all of the basic types available in python.

### Booleans

Boolean values represent truth or falsehood, as used in logical operations, for example. Not surprisingly, there are only two values, and in Python they are called <tt>True</tt> and <tt>False</tt>.

True False

### Integers

Integers represent whole numbers, as you would use when counting items, and can be positive or negative.

-7 123

### Floating point numbers

Floating point numbers, often simply referred to as <tt>float</tt>s, are numbers expressed in the decimal system, i.e. 2.1, 999.998, -0.000004 etc. The value 2.0 would also be interpreted as a floating point number, but the value 2, without the decimal point will not; it will be interpreted as an integer.

-132.889257

Floating point numbers can also carry an <tt>e</tt> suffix that states which power of ten they operate at.

1500.0
0.03

Since this subsection would otherwise be very short, let me take the opportunity to show you some more math functions. You can of course also use them with integers. For this we need to import the `math` module. We will explain modules later in more detail but for the moment you only need to know that a module brings you new functions you would otherwise not have.

In [26]:
import math

This module gives you some predefined constants such pi and e.

In [27]:
math.pi

3.141592653589793

In [28]:
math.e

2.718281828459045

But the main benefit are the additional functions.

In [32]:
# logarithm with base e

0.0

In [33]:
# logarithm with base 2

3.0

In [34]:
# square root

2.0

So, that's it for now. But there is more and you can look it up by browsing through the help file for the module.

In [35]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.6/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /anaconda/lib/python3.6/lib-dynload/math.cpython-36m-darwin.so

Another thing that you might have noticed, is that I use the `#` to place comments. In ipython you can also use markdown to comment your code but for more complicated projects you will probably want to switch to a serious text and then commenting with `#` comes in handy.

### 2.3 Type conversions

What if you mix different types? Sometimes Python will just try to help you.

In [36]:
True + False - 1

0

Python implicitly converts the booleans `True` and `False` to `1` and `0` respectively. In a similar way, Python also converts integers to floating point numbers when you do computations with them.

In [37]:
4 + 12.0

16.0

You can also do type conversions explicitly by using the `int`, `float`, and `bool` functions.

1.0

2

-2

0.0

True

By the way, what happens if you convert a number different from 0 or 1 to boolean? Let's find out.

True

Every number that is not 0 gets evaluated as `True` when converted to a boolean. Similarly, an empty string gets converted to `False` but every non-empty string is evaluated as `True`. This also holds for lists etc. 

Finally, this explicit conversion works also with strings which you don't know yet but will soon.

1.6

10000.0

### Strings

Strings represent text, i.e. "strings" of characters. They can be delimited by single quotes <tt>‘</tt> or double quotes <tt>“</tt>, but you have to use the same delimiter at both ends. Unlike some programming languages, such as Perl, there is no difference between the two types of quote, although using one type does allow the other type to appear inside the string as a regular character.

Normally a python statement ends at the end of the line, but if you want to type a string over several lines you can enclose it in triple quotation marks.

In [3]:
s = "String with double quotes"
t = 'String with single quotes'
u = "It's a string with apostrophes"
v = """A string that extends
over multiple lines"""

In [ ]:
type('Hello World!')

In [47]:
# length of the string: the number of characters

11

In [5]:
# replace a substring in a string with something else

String with double quotes

We can index a character in a string using `[]`:

'S'

We can index a character in a string using `[]`:

'H'

**Heads up MATLAB users:** Indexing start at 0!

We can extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop` -1 (the character at index `stop` is not included):

'Hello'

'o'

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

'Hello'

'world'

'Hello world'

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

'Hello world'

'Hlowrd'

This technique is called *slicing*. Read more about the syntax here: http://docs.python.org/release/2.7.3/library/functions.html?highlight=slice#slice

Python has a very rich set of functions for text processing. See for example http://docs.python.org/2/library/string.html for more information.

#### String formatting examples

In [57]:
print("str1", "str2", "str3")  # The print statement concatenates strings with a space

('str1', 'str2', 'str3')

In [58]:
# The print statements converts all arguments to strings

('str1', 1.0, False, -1j)

In [59]:
# strings added with + are concatenated without space

str1str2str3

In [60]:
# we can use C-style string formatting

value = 1.000000

In [61]:
# this formatting creates a string

value1 = 3.14. value2 = 1

In [62]:
# alternative, more intuitive way of formatting a string

value1 = 3.1415, value2 = 1.5

### 3.2 Escape 

You can use a backslash to escape the normal meaning of a character when you create strings. Two very common uses for the escape are `\n` and `\t` for a new line or a tab.

In [ ]:
print('What did \nKeynes say?')

You can also use the backslash to escape the normal meaning of single or double quotes.

In [ ]:
print('Keynes said \"In the long we are all dead.\"')

### The <tt>None</tt> object

The None object is special built-in value which can be thought of as **representing nothingness or that something is undefined**. For example, it can be used to indicate that a variable exists, but has not yet been set to anything specific.

None

### Object type

You can check what type python thinks an expression is with the <tt>type</tt> function, which you can call with the name <tt>type</tt> immediately followed by parentheses enclosing the expression you want to check (either a variable or a value), e.g. <tt>type(3)</tt>. (This is the general form for calling functions, we'll see lots more examples of functions later...)

In [20]:
a = True
print(a, "is of", type(a))

True is of <class 'bool'>

In [21]:
i = -7
print(i, "is of", type(i))

-7 is of <class 'int'>

In [22]:
x = 12.7893
print(x, "is of", type(x))

12.7893 is of <class 'float'>

In [23]:
s = "Workshop"
print(s, "is of", type(s))

Workshop is of <class 'str'>

In [24]:
z = None
print(z, "is of", type(z))

None is of <class 'NoneType'>

Since this subsection would otherwise be very short, let me take the opportunity to show you some more math functions. You can of course also use them with integers. For this we need to import the `math` module. We will explain modules later in more detail but for the moment you only need to know that a module brings you new functions you would otherwise not have.

In [1]:
import math

This module gives you some predefined constants such pi.

In [ ]:
math.pi

In [ ]:
# rounding down
math.floor(13.5)

In [ ]:
# square root
math.sqrt(4.0)

So, that's it for now. But there is more and you can look it up by browsing through the help file for the module.

In [ ]:
help(math)

Another thing that you might have noticed, is that I use the `#` to place comments. In ipython you can also use markdown to comment your code but for more complicated projects you will probably want to switch to a serious text and then commenting with `#` comes in handy.

## Comments

When you are writing a program it is often convenient to annotate your code to remind you what you were (intending) it to do. In programming these annotations are known as _comments_. You can include a comment in python by prefixing some text with a <tt>#</tt> character. All text following the <tt>#</tt> will then be ignored by the interpreter. You can start a comment on its own line, or you can include it at the end of a line of code.

It is also often useful to temporarily remove some code from a script without deleting it. This is known as _commenting out_ some code.

In [ ]:
print("Hi") # this will be ignored
# as will this
print("Bye")
# print "Never seen"

## Arithmetic

Python supports all the standard arithmetical operations on numerical types, and mostly uses a similar syntax to several other computer languages:

In [25]:
x = 4.5
y = 2

print('x = ', x, 'y = ', y)
print('addition x + y =', x + y) 
print('subtraction x - y =', x - y) 
print('multiplication x * y =', x * y) 
print('division x / y =', x / y)

x =  4.5 y =  2
addition x + y = 6.5
subtraction x - y = 2.5
multiplication x * y = 9.0
division x / y = 2.25

In [27]:
x = 4.5
y = 2

print('x = ', x, 'y = ', y)
print('division x / y =', x / y)
print('floored division x // y =', x // y) 
print('modulus (remainder of x/y) x % y =', x % y) 
print('exponentiation x ** y =', 10 ** 2)

x =  4.5 y =  2
division x / y = 2.25
floored division x // y = 2.0
modulus (remainder of x/y) x % y = 0.5
exponentiation x ** y = 100

As usual in maths, division and multiplication have higher precedence than addition and subtraction, but arithmetic expressions can be grouped using parentheses to override the default precedence

In [ ]:
x = 13
y = 5

print('x * (2 + y) =', x * (2 + y))
print('(x * 2) + y =', (x * 2) + y)
print('x * 2 + y =', x * 2 + y)

You can mix (some) types in arithmetic expressions and python will apply rules as to the type of the result

In [29]:
13 + 5.0

18.0

You can force python to use a particular type by converting an expression explicitly, using helpful named functions: <tt>float</tt>, <tt>int</tt>, <tt>str</tt> etc.

10.0

In [31]:
int(3.14159) + 1

4

The addition operator `+` allows you also to concatenate strings together.

In [33]:
print('number' + str(3))

number3

Division in Python 2 sometimes trips up new (and experienced!) programmers. If you divide 2 integers you will only get an integer result. If you want a floating point result you should explicitly cast at least one of the arguments to a <tt>float</tt>.

In [3]:
print("3/4 =", 3/4)
print("3.0/4 =", 3.0/4)
print("float(3)/4 =", float(3)/4)

3/4 = 0.75
3.0/4 = 0.75
float(3)/4 = 0.75

There are a few shortcut assignment statements to make modifying variables directly faster to type

In [2]:
x = 3
x += 1 # equivalent to x = x + 1
x

4

In [1]:
x = 2
y = 10
y *= x
y

20

These shortcut operators are available for all arithmetic and logical operators.

### 3.6 Splitting and joining strings with the `slit` and `join` methods

Say you have a string and you want to unpack it into several substrings. This can be done with the 
`split` method. Since this function is specific to strings (unless for example `+`) it is used differently than the functions we have seen before.

In [80]:
economists = 'Duflo, Keynes, Finkelstein, Marshall, Marx'
economists.split(',')

['Duflo', ' Keynes', ' Finkelstein', ' Marshall', ' Marx']

Note that we could also have written this without creating a variable as follows.

In [81]:
'Duflo, Keynes, Finkelstein, Marshall, Marx'.split(',')

['Duflo', ' Keynes', ' Finkelstein', ' Marshall', ' Marx']

You will have noticed that we now have five different strings which are separated by commas and enclosed by squared brackets. By splitting the string, we have created a `list`, which is basically a container to store other objects, like several strings. We will come back to them later.

To get back from a list of strings to one string we can use the _join_ function.

In [82]:
list_of_economists = ['Duflo', ' Keynes', ' Finkelstein', ' Marshall', ' Marx']
', '.join(list_of_economists)

'Duflo,  Keynes,  Finkelstein,  Marshall,  Marx'

This might look strange because you first specify the string that is used to combine the strings on the list. In this case it is `,`.

### 3.7 Other string functions

Of course, there are also a bunch of other functions for strings. In the following, I show you some.

In [83]:
stupid = 'If you rearrange the letters in "ECONOMICS", you get "COMIC NOSE"'

In [84]:
# count occurences
stupid.count('you')

2

In [85]:
# check start of the string
stupid.startswith('If')

True

In [86]:
# check end of the string
stupid.endswith('NOSE')

False

In [87]:
# find offset of first occurence
stupid.find('you')

3

In [88]:
# find offset of last occurence
stupid.rfind('you')

45

In [89]:
# strip string of substrings at beginning or end
string = "'Economics'"
print(string)

'Economics'

In [90]:
print(string.strip("'"))

Economics

OK, finally, what if we want to replace certain parts of a string. As mentioned above, a simple reassignment did not work. We need the _replace_ function, which as a default replaces the first occurence of a string.

In [91]:
assertion = 'Keynes is a fool.'
assertion.replace('Keynes', 'Hayek')

'Hayek is a fool.'

Note that this operation hasn't changed our original string.

In [92]:
assertion

'Keynes is a fool.'

You already know that we cannot do that, since strings are immutable. The only thing we can do is to create a new string and reassign it to our old variable.

In [93]:
assertion = assertion.replace('Keynes', 'Hayek')
assertion

'Hayek is a fool.'

OK, that's it so far with the atomic data types. What if we want to combine these types to more complicated structures? We will more types of objects which are discussed in the next section.